      body {
        font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        background-color: #36393F;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      form {
        background-color: #2F3136;
        border-radius: 5px;
        padding: 15px;
        width: 300px;
        display: flex;
        flex-direction: column;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type="text"] {
        background-color: #40444B;
        border: none;
        border-radius: 3px;
        color: white;
        padding: 5px;
        margin-bottom: 15px;
        font-family: inherit;
      }

      button {
        background-color: #7289DA;
        border: none;
        border-radius: 3px;
        color: white;
        padding: 8px;
        font-weight: bold;
        cursor: pointer;
        font-family: inherit;
        font-size: 16px;
      }

      button:hover {
        background-color: #677BC4;
      }